@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

.overHide{
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #11a099;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;

}
.nav-links a:hover{
    color: rgb(248, 252, 17);
    border: 1px rgb(211, 207, 7) solid;
    border-radius: 4px;
}

.burger{
    display: none;
}



/* For animation section */


/* Дар бораи сайт */
.description{
    padding: 20px;
    width: auto;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    max-width: 70%;
    margin: 20px auto;
}
.description h2{
    font-size: 47px;
    letter-spacing: 2px;
    color: rgb(60, 76, 97);
    line-height: 45px;
    margin-bottom: 15px;

}
.description span{
    font-size: 28px;
    color: rgb(62, 78, 99);
    font-weight: bold;
}

.description p{
    font-size: 23px;
    color: rgb(51, 64, 82);
    font-weight: bold;
}

.description button{
    font-size: 25px;
    padding: 20px 50px;
    background-color: #f5feff;
    cursor: pointer;
    color: rgb(0, 160, 209);
    margin-top: 15px;
    outline: none;
    box-shadow: 2px 2px 10px rgb(107, 0, 80);
    border: 0.4px solid rgb(30, 126, 155);
    border-radius: 5px;
    transition: 0.5s ease-out;
}
.description button:hover{
    box-shadow: 2px 2px 15px rgb(226, 10, 2);
    background: #fff;
}

.sosial{
    margin: 20px auto;
    max-width: 900px;
    text-align: center;
}

.sosial h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(0, 135, 150);
    background: #fff;
   
}

.sosial .main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
}

.sosial .main div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 240px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow:  2px 2px 15px rgb(206, 8, 8); 
}

.sosial .main div i{
    font-size: 30px;
}
.sosial .main span{
    color: rgb(255, 255, 255);
    margin: 5px;
    font-weight: bold;
}

.sosial .main .y{
    background: rgb(161, 0, 0);
}
.sosial .main .in{
    background: linear-gradient(30deg, red, rgb(173, 0, 136));
}

.sosial .main .y i{
    color: rgb(255, 255, 255);
}
.sosial .main .in i{
    color: rgb(196, 196, 196);
}

.sosial .main .y:hover i{
    color: rgb(10, 9, 9);
    transition: 0.4s ease;
}

.sosial .main .in:hover i{
    transition: 0.4s ease;
    color:  rgb(10, 9, 9);
}


.toggel .line1{
    transform: rotate(-45deg ) translate(-5px, 6px);
}

.toggel .line2{
    opacity: 0;
}
.toggel .line3{
    transform: rotate(45deg ) translate( -5px, -6px);
}



@media screen and (max-width: 1024px){
    .nav-links{

        width: 60%;
    }
}

@media screen and (max-width: 768px){
   
    .nav-links{
        position: absolute;
        left: 0;
        height: 90vh;
        top: 8vh;
        background: #11a099;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 3;
    }

    .nav-links li{
        opacity: 0;
    }



    .burger{
        display: block;
        cursor: pointer;
    }

    /* About site */
    .description{
        width: 100%;
        max-width:100%;
    }  
.description h2{
    font-size: 30px;
    line-height: normal;
}
.description span{
    font-size: 24px;
    margin-bottom: 5px;
}
.description p{
    font-size: 20px;
    line-height: 1.8rem;
}

.description button{
    font-size: 20px;
    font-weight: 800;
    width: 80%;
    padding: 20px 30px;
}


.sosial h2{
    font-size: 25px;
}

}



@keyframes animae{
    20%{
        transform: scale(1) translateX(0);
    }

    80%{
        transform: scale(0);
    }
  
  
}

@keyframes navLink{
    from{
        opacity: 0;
        transform: translateX(-50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Burger button for open nav bar */
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.nav-active{
    transform: translateX(0%);
}





